<div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Nom du fichier</th>
          <th scope="col">Téléchargement</th>
        </tr>
      </thead>
      <tbody>
        {% for i in data_s3.file %}
            <tr>
              <td>{{ i.name }}</td>
                <td>
                    <a href="{{ i.url }}" class="btn btn-primary btn-sm" tabindex="-1" role="button" aria-disabled="true"><i class="bi bi-cloud-arrow-down">Télécharger</i></a>
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>