{% extends 'index.html' %}

{% block content %}
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
              <div class="alert alert-danger" role="alert">{{ message }}</div>
          {% else %}
              <div class="alert alert-success" role="alert">{{ message }}</div>
          {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Matieres RDS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Ajout de matiere RDS</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Télécharger fichier S3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="s3-tab" data-toggle="tab" href="#s3" role="tab" aria-controls="s3" aria-selected="false">Upload fichier S3</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          {% csrf_token %}
      {% include 'rdd/download.html' %}
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      {% include 'rdd/upload.html' %}
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      {% include 's3/download.html' %}
  </div>
  <div class="tab-pane fade" id="s3" role="tabpanel" aria-labelledby="s3-tab">
      {% include 's3/upload.html' %}
  </div>
</div>
{% endblock %}
